@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #3f5e78;
  --secondary-color: #f5f5f5;
  --accent-color: #007bff;
  --font-family: 'Inter', sans-serif;
}

body {
  font-family: var(--font-family);
}


